@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    padding:0px;
    box-sizing: border-box;
    margin: 0%;
}
body{
    width: 100%;
    max-width: 100%;
    height: 100vh;
}
nav h3{
    font-family: 'Great Vibes', cursive;
    font-size:3em
}

nav span{
    color: antiquewhite;
}
nav{

    height:65px;
    padding: 25px 50px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:rgb(255, 149, 0);
}
.items{ 
    float:right;
}
.items a{
    color:white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
.items a:hover{
    color:rgb(255, 149, 0);
}
button{
    background-color:rgb(255, 149, 0) ;
    font-size: 1rem;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin:10px ;
}
button:hover{
    opacity: 0.6;
}
.cover img{
    width:100%;
    height:100vh;
}
.cover{
    position: relative;
    text-align: center;
}
.cover .heading1{
    position: absolute;
    top:55%;
    left:20px;
    font-weight: 500;
    font-size:7rem;
    color: white;
    font-family: 'Great Vibes', cursive;

}
.cover .heading2{
    position: absolute;
    top:72%;
    left:20px;
    font-weight: 500;
    font-size: 7rem;
    color:rgb(255, 149, 0);
    font-family: 'Great Vibes', cursive;

}
.cover p{
    font-size:1.8rem;
    color: rgb(255, 149, 0);
    position: absolute;
    border-radius: 5px;
    top:44.5rem;
    left:4rem;
    margin-top: 15px;
    margin-left: 100px;
    background-color:black ;
}
.cover span img{
    position: absolute;
    width: 50%;
    top:-60px;
    left:26rem;
}
.food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 50vh;
}
.food img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px  grey;
    width:30rem;
    margin-top: 25px;
}

